[Unit]
Description=Asahi Battery Charge Limiter
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/battery-daemon.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
